<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>themoviedb_api_key</key>
	<string>4f0b4d47f39a9bc48fbe25d612f92919</string>
	<key>themoviedb_api_base_url</key>
	<string>https://api.themoviedb.org</string>
	<key>themoviedb_image_base_url</key>
	<string>https://image.tmdb.org</string>
</dict>
</plist>
